    <div class="row">  
        <div class="large-12 columns">
            <div class="icon-bar three-up">

                <a href="#" class="item">
                    <i class="fi-home"></i>
                    <label>Home</label>
                </a>
                <a href="#post" class="item">
                    <i class="fi-bookmark"></i>
                    <label>Post a job</label>
                </a>
                <a href="#users" class="item">
                    <i class="fi-info"></i>
                    <label>Login/Register</label>
                </a>

            </div>
        </div>
    </div>