<div class="row centered">
    <!-- <div class="small-9 small-centered large-4 large-uncentered columns"> -->
    <img id="logo" src="./img/Robot Guy Engineer.png">
    <!-- </div> -->
    <!-- <div class="small-12 large-8 columns"> -->
    <h1 class="logoFont browserLogo">Front-End <br>Engineers</h1>
    <!-- </div> -->
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="non-semantic-protector">
            <h1 class="ribbon">
               <strong class="ribbon-content">Jobs for JavaScript developers</strong>
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="icon-bar three-up">

            <a href="#home" class="item">
                <i class="fi-home"></i>
                <label>Home</label>
            </a>
            <a href="#post" class="item">
                <i class="fi-bookmark"></i>
                <label>Post a job</label>
            </a>
            <a href="#users" class="item">
                <i class="fi-torsos-all"></i>
                <label>Account</label>
            </a>

        </div>
    </div>
</div>
