<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Job title
        <input name="jobTitle" type="text" placeholder="Job title" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Company Email
        <input name="email" type="text" placeholder="something@example.com" />
      </label>
    </div>
  </div>

 <!--  <div class="row">
    <div class="large-12 columns">
      <label>Job type
        <input name="type" type="text" placeholder="What type of position?" />
      </label>
    </div>
  </div>
 -->
  <div class="row">
    <div class="large-12 columns">
      <label>Job Type
        <select name="type">
          <option value="Full-Time">Full-Time</option>
          <option value="Part-Time">Part-Time</option>
          <option value="Contract">Contract</option>
          <option value="Remote">Remote</option>
        </select>
      </label>
    </div>
  </div>


  <div class="row">
    <div class="large-12 columns">
      <label>About your company
        <textarea name="aboutUs" type="text" placeholder="A little about YOU"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Job description
        <textarea name="jobDescription" type="text" placeholder="Description of the job"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <!-- <button id="jobPostSubmit">SUBMIT</button> -->
      <button id="customButton">Submit</button>

    </div>
  </div> 
</form>

<!-- <button id="customButton">Purchase</button> -->

