<form>
  <div class="row">
    <div class="large-12 columns">
      <label>Job title
        <input name="jobTitle" type="text" placeholder="Job title" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Job type
        <input name="type" type="text" placeholder="What type of position?" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>About your company
        <input name="aboutUs" type="text" placeholder="A little about YOU" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <button>SUBMIT</button>
      <!-- <button id="customButton">Submit</button> -->

    </div>
  </div> 
</form>